# Credit Data Analysis

* 해당 파일은 Jupyter Notebook으로 작성되었습니다.
* 필요에 따라 colab도 사용할 예정입니다.

## 일단은 test 용입니다.

```python
print("코드도 잘 들어가는지?")
```

## Finace-datareader 라이브러리 설치
* https://github.com/FinanceData/FinanceDataReader 참고

In [1]:
print("hello world!")

hello world!

In [2]:
#finance-datareader 라이브러리 설치
!pip install -U finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Collecting lxml
  Downloading lxml-4.6.3-cp38-cp38-win_amd64.whl (3.5 MB)
Collecting pandas>=0.19.2
  Downloading pandas-1.3.4-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from finance-datareader) (4.62.2)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: requests>=2.3.0 in c:\users\dell\anaconda3\lib\site-packages (from finance-datareader) (2.26.0)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.3-cp38-cp38-win_amd64.whl (14.0 MB)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.2)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.4)
Installing collected packages: numpy, requests-file, pandas, lxml, finance-datareader
Successfully installed finance-datareader-0.9.31 lxml-4.6.3 numpy-1.21.3 pandas-1.3.4 requests-file-1.5.1

## FinaceDataReader로 데이터 불러오기
* 005930(삼성전자)의 모든 주가를 확인
* 전체 기간 : 1997~

In [3]:
import FinanceDataReader as fdr
df = fdr.DataReader('005930')
df

             Open   High    Low  Close    Volume    Change
Date
1997-10-04   1168   1197   1159   1197     29560       NaN
1997-10-06   1197   1215   1179   1185     53720 -0.010025
1997-10-07   1183   1183   1145   1149     68530 -0.030380
1997-10-08   1149   1149   1075   1076     60280 -0.063534
1997-10-09   1066   1097   1018   1051     96343 -0.023234
...           ...    ...    ...    ...       ...       ...
2021-10-25  69900  70600  69500  70200  10029621 -0.002841
2021-10-26  70600  71500  70400  71100  10528252  0.012821
2021-10-27  71000  71000  70000  70100  10295316 -0.014065
2021-10-28  69500  72200  69500  70700  20644902  0.008559
2021-10-29  71200  71600  69700  69800  16497812 -0.012730

[6000 rows x 6 columns]